rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default security rule
    match /{document=**} {
      allow read, write: if false;
    }

    // Users Collection
    match /users/{userId} {
      allow read, write: if true;
    }

    // Shared Company Data Collection (Multi-Device Auto-Sync)
    match /company_data/{docId} {
      allow read, write: if true;
    }
  }
}
